<%- include('./including/head.ejs') %>
</head>

<body>
    <%- include('./including/navigation.ejs') %>
    <!-- maincontent -->
    <h1>Page Not Found!</h1>

    <!-- maincontent -->
    <%- include('./including/footer.ejs') %> 
<%- include('./including/end.ejs') %>